a:visited {
  color: white;
}
a:hover {
  color: orange;
}
.butonat:hover {
  color: white;
  background-color: lightslategray;
}
.icons:link {
  color: white;
}
.icons:visited {
  color: white;
}
.icons:hover {
  color: orange;
}
.team:link{
  color: white;
}
.team:visited{
  color: white;
}
.carousel-control-prev,.carousel-control-next{
  background-color:gainsboro;
  width: 40px;
}